body {
    font-family: "Roboto", sans-serif;
}

/*** Navbar ***/
.nav-item {
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}
.dropdown-item {
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}

/** footer **/
.my_footer {

    background-color : #454545;
    color : #FFFFFF;
    height : 60px;
}
.my_footer p {
    padding-top : 20px;
    font-size : 14px;
}

/*** category page ***/
.category_one {
    padding-top:15px;
}
.category_one .mx_auto{
    color: #0000;
    font-size:12px;
}
.my_image{
    width:100%;
    height:auto;
}
.my_title{
    font-size:16px;
    text-transform:uppercase;

}
.my_image_padding{
    padding : 5px;
}
.my_bottom_margin{
    margin-bottom:8px;
}
.card-body h4{
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:.1em;
}

/*** product page ***/

.my_product{
    padding-top:15px;
    padding-bottom:20px;
}
.my_product.mx_auto{
    color:#0000;
    font-size:12px;
    text-decoration:none;
}
.my_product_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.1em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_product_title{
    padding-right:20px;
}
.my_search_text{
    padding-top:20px;
}
/*** Cart Page ***/
.my_cart_table{
    min-width:400px;
    font-size:14px;
}
.my_cart_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f8fa !important;
}
.custom_a{
    text-decoration:none;
}
.custom_icon{
    text-decoration:none;
    color:#868e96 !important;
}
.my_cart_button{
    margin-top:5px;
}